.card:hover {
    background-color: whitesmoke;
    color: #363636;
}

.break-word {
    word-break: break-word;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.hover:not(:hover) .hover-appear {
    display: none;
}

/* .is-hover:hover { */
/*     display: none; */
/* } */

/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
